# Intro to Python
***

## Print

In [2]:
print('Hola mundo')

Hola mundo

In [3]:
text = 'Hola Mundo'
print(text)

Hola Mundo

In [25]:
edad = 32
frase = 'Hello world, I am'
final_frase = 'years old'
print(frase + final_frase)

Hello world, I amyears old

In [8]:
print(frase + str(edad) + final_frase)

Hello world, I am32years old

In [10]:
print(frase,str(edad),final_frase)

Hello "world", I am 32 years old

In [26]:
f_string = f'Hello world, I am {edad} years old'
f_string

'Hello world, I am 32 years old'

In [30]:
print('Hello world, I am {} years old'.format(edad))

Hello world, I am 32 years old

In [15]:
'hola' * 11

'holaholaholaholaholaholaholaholaholaholahola'

In [21]:
temp = 30
psi = 50
height = 1.72
age = 32
hr = '=' *30
print(f'Temperature: {temp} C')
print(hr)
print(f'PSI: {psi} bar')
print(hr)
print(f'Height: {height}m')
print(hr)
print(f'Age: {age} years old')

Temperature: 30 C
==============================
PSI: 50 bar
==============================
Height: 1.72m
==============================
Age: 32 years old

In [23]:
temp = 30
psi = 50
height = 1.72
age = 32
hr = '=' *30
print(f'Temperature: {temp} C\n{hr}')
print(f'PSI: {psi} bar\n{hr}')
print(f'Height: {height}m\n{hr}')
print(f'Age: {age} years old\n{hr}')

Temperature: 30 C
==============================
PSI: 50 bar
==============================
Height: 1.72m
==============================
Age: 32 years old
==============================

*Hola mundo,*<br>**I am 32 years old**<br>
**I am mexican**<br>**I like Pizzas**<br>
**I have a dog**

In [33]:
text = 'Temperature:\n\t30 grades'
print(text)

Temperature:
	30 grades

In [33]:
text = '''Hola mundo,
I am 32 years old
I am Mexican
I like pizzas
I have a dog
'''
text

'Hola mundo,\nI am 32 years old\nI am Mexican\nI like pizzas\nI have a dog\n'

## Variables

In [40]:
num = 4
num2 = 6
sume = num + num2
rest = num - num2
mult = num * num2
div = num / num2
power = num ** num2
root = num ** (1/num2)
print(f'La suma de {num} y {num2} es {sume}.')
print(f'La resta de {num} y {num2} es {rest}.')
print(f'La multiplicacion de {num} y {num2} es {mult}.')
print(f'La division de {num} entre {num2} es {div}.')
print(f'{num} elevado a {num2} es {power}.')
print(f'La raiz {num2} de {num} es {root}.')

La suma de 4 y 6 es 10.
La resta de 4 y 6 es -2.
La multiplicacion de 4 y 6 es 24.
La division de 4 entre 6 es 0.6666666666666666.
4 elevado a 6 es 4096.
La raiz 6 de 4 es 1.2599210498948732.

In [46]:
6//3

2

In [51]:
type(10//7)

int

In [50]:
type(10/10)

float

## String Variables

## Python lists

In [52]:
lista = [1, '2', True]
lista

[1, '2', True]

In [53]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
areas = [hall, kit, liv, bed, bath]
areas

[11.25, 18.0, 20.0, 10.75, 9.5]